// Theme Variables
$cpl_color_body: #555D82;

$cpl_color: #F9FBF2;
$cpl_color_bg: #7681B3;
$cpl_color_border: #707BAA;

$cpl_color_highlight: #555D82;
$cpl_color_highlight_bg: #F9FBF2;
$cpl_color_highlight_border: #F9FBF2;

$cpl_color_disabled: #B6C9D6;
$cpl_color_disabled_bg: #7681B3;
$cpl_color_disabled_border: #707BAA;
