// Theme Variables
$cpl_color: #55e8c5;

$cpl_color_body: #2f3a3d;
$cpl_color_bg: #425256;
$cpl_color_border: #6a8289;

$cpl_color: #e2fff8;
$cpl_color_highlight: #2f3a3d;
$cpl_color_disabled: #c5ddd8;
