.header {
  background-color: $compelo_primary;
}

.icon-btn:hover {
  color: $compelo_gray;
}

.compelo-container {
  background-color: white;
  border: 1px solid $compelo_border;
  padding: 12px;
}
