// Theme Variables
$compelo_primary: #55e8c5;
$compelo_secondary: #e2fff8;

$compelo_body: #2f3a3d;
$compelo_background: #425256;
$compelo_border: #6a8289;

$compelo_text: #e2fff8;
$compelo_text_primary: #2f3a3d;
$compelo_text_muted: #c5ddd8;
